.gallery-slider__container {
    display: flex;
    margin: 10px auto;
    width: 400px;
    overflow: hidden;
    position: relative;
    padding-top: 400px;
}

.gallery-slider__container img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    display: inline;
    cursor: pointer;
    border: 2px solid var(--accent-color-yellow);
    border-radius: 20px;
}

.gallery__img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 400px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery__thumb-label {
    padding-top: 6px;
    margin: 6px;
    display: block;
}

.gallery__selector {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.gallery__selector:checked {
    + .gallery__img {
        opacity: 1;
        height: 100%;
    }

    ~ .gallery__thumb-label > img {
        box-shadow: 0 0 0 3px var(--accent-color-red);
        border: none;
    }
}
