.product-card__container {
    max-width: 40%;
    border: 3px solid var(--accent-color-yellow);
    border-radius: 20px;

    display:flex;
    gap: 20px;
}

.product-card__img {
    width: 140px;
    border-radius: 20px;
}

.product-card__text {
display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-card__title {
    width: 100%
}

.product-card__description {}

.product-card__price {
    color: var(--accent-color-red);
    font-weight: bold;
}