.product__wrapper {
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.product__left-column {
    max-width: 466px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.product__photo-slider img {
    width: 400px;
}

.product__right-column {
    max-width: 466px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.product__general-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__general-information--price-and-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.product__pattern-specification {
    border: 2px solid var(--accent-color-red);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
