.container {
    width: 25rem;
    position: relative;
}

.searchbar__textbox {
    border: 3px solid var(--accent-color-yellow);
    border-radius: 999px;
    height: 2rem;
    outline: none;
    padding: 1px 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
}

.searchbar__textbox:focus {
    /* We'll change the border color of the textbox as long as it is being focused */
    border: 3px solid var(--accent-color-red);
    transition: 0.2s ease-in-out;
}

.searchbar__suggestions {
    /* Styles of the suggestions container */
    overflow-y: scroll;

    background-color: var(--main-bg-color-beige);
    max-height: 20rem;
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 10;
}

.searchbar__suggestions.hidden {
    /* Will hide the suggestions */
    visibility: hidden; /*We can also use `opacity: 0`*/
}

.searchbar__suggestion {
    /* Styling of a single suggestion */
    cursor: pointer;
    padding: 1px 10px;
    height: 2rem;
    display: flex;
    align-items: center;
}

.searchbar__suggestion:hover {
    /* Changing background color on hover */
    background-color: #f3f3f3;
}