.container {
    width: 25rem;
    position: relative;
}

.searchbar__textbox {
    border: 3px solid var(--accent-color-yellow);
    border-radius: 999px;
    height: 2rem;
    outline: none;
    padding: 1px 10px;
    transition: 0.2s ease-in-out;
    width: 100%;
}

.searchbar__textbox:focus {
    border: 3px solid var(--accent-color-red);
    transition: 0.2s ease-in-out;
}

.searchbar__suggestions {
    overflow-y: scroll;
    background-color: var(--main-bg-color-beige);
    max-height: 90vh;
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 10;
}

.searchbar__suggestions.hidden {
    visibility: hidden;
}

.searchbar__suggestion {
    cursor: pointer;
    padding: 1px 10px;
    height: 2rem;
    display: flex;
    align-items: center;
}

.searchbar__suggestion:hover {
    background-color: #f3f3f3;
}