.header {
    height: 100px;
    background-color: var(--main-bg-color-beige);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__title {
    text-decoration: none;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__logged-in {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__logged-out {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header__icon {
    width:40px;
}

.header__drop-down {
    display: inline-block;
    position: relative;
}

.header__drop-down-menu {
    display: none;
    position: absolute;
    overflow: visible;
    background-color: var(--main-bg-color-beige);
    max-height: 90vh;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

.header__drop-down:hover .header__drop-down-menu {
    display: block;
}

.header__drop-down-menu--item {
    cursor: pointer;
    padding: 1px 10px;
    height: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-black)
}

.header__drop-down-menu--item:hover {
    background-color: #f3f3f3;
}



