.header {
    height: 100px;
    background-color: var(--main-bg-color-beige);
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav-list {
    display: flex;
    gap: 20px;
}

.header__login {
    display: flex;
    gap: 20px;
    position: relative;
}

.header__logout {
    display: flex;
    gap: 20px;
    position: relative;
}

.header__icon {
    width:40px;
}
.header__drop-down {
    display: inline-block;
    position: relative;
}

.header__drop-down-menu {
    display: none;
    position: absolute;
    overflow: auto;
}

.header__drop-down-menu {
    text-decoration: none;
}

.header__drop-down:hover .header__drop-down-menu {
    display: block;
}



