.footer {
    height: 140px;
    background-color: var(--main-bg-color-beige);
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}