@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color-beige: #E9D8A6;
    --accent-color-yellow: #EE9B00;
    --accent-color-red: #9B2226;
    --bg-color-blue: #94D2BD;
    --accent-color-lightblue: #0A9396;
    --accent-color-darkblue: #005F73;
    --text-color-black: #002838;
}

body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    min-height: 100vh;
}
